GenerateHistograms/myBuild/
GenerateHistograms/myAnalysis/
GenerateHistograms/data/

GenerateDistribution/myBuild
GenerateDistribution/myAnalysis
GenerateDistribution/myData
GenerateDistribution/referenceCodes
